nav a {
    position: relative;
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    font-size: 32px;
    }
    
    nav a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(87, 34, 136);
    top: 0;
    left: 0;
    }
    
    nav a:hover::before {
    width: 100%;
    transition: width 0.5s linear;
    }
    
    nav a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(87, 34, 136);
    bottom: -4px;
    left: 0;
    }
    
    nav a:hover::after {
    width: 100%;
    transition: width 0.5s linear;
    }